.app{
  z-index: 10;
  width:500px;
  display:inline-block;
  background-color: transparent;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#todo {
  text-align: center;
}

/* BUG IS HERE (top doesn't work) */
#windowOne {
  position: relative;
  top:10px;
}


