* {
  font-size: 100%;
  font-family: 'Geneva, Arial';
 }

.App {
  text-align: none;
}

.myHeading WbIncandescent {
  margin-right:10px;
}
.myHeading h1, .myHeading WbIncandescent {
  display:inline-block;
  vertical-align:middle;
  margin: 10px;
}

.App-header h6 {
  margin: 0px;
}

.App-header {
  background-color: transparent;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-body {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
  min-height: 0vh;
  /* flex-direction: column;
  align-items: left;
  justify-content: left; */
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.App-link {
  color: #61dafb;
}
